<h4>Processing ...</h4>
<form id="checkout_form" name="checkout_form" method="post" action="<%= @paytm_txn_url %>">
    <% @param_list.each do |name, value|  %>
       <input type="hidden" name="<%= name %>" value="<%= value %>" >
	<% end %>
</form>
<script type="text/javascript">
    // self executing function
    (function () {
        // auto submit form
        document.getElementById("checkout_form").submit();
    })();
</script>